
* {
    margin: 0;
    padding: 0;
  }
html{
    height:99%;
    overflow: hidden;
}

body {
    height:100%;
}

#root {
    height:100%;
}






.layout {
    height: 100%;
    width: 100%;
}

.header {
    height: 10%;
    display: flex;
    align-items: center;
    background-color: #0082c8;
    border: 25px black;
  }
  
  .content {
    display: flex;
    height: 100%;
  }
  
  .sidenav {
    width: 125px;
    background-color: #0082c8;;
  }
  
  .body {
    margin: 35px;
    flex: 1 0 auto;
  }

.header__logo {
    height: 50px;
    margin-left: 25px;
}